body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f4f4f9;
  margin: 0;
  color: #333;
}

#root {
  background-color: white;
  width: 100%;
  height: 100vh;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 30px;
  resize: none;
  outline: none;
  line-height: 1.5;
  background-color: #fafafa;
  color: #333;
  transition: all 0.3s ease;
}

/* Focus styling for textarea */
textarea:focus {
  border-color: #007BFF;
  background-color: #fff;
}

/* Placeholder styling for textarea */
textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

.add_note_btn {
  padding: 12px 25px;
  font-size: 1.1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:active {
  background-color: #003f7f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #333;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-note-bar{
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding: 10px;
}