@tailwind base;
@tailwind components;
@tailwind utilities;


pre {
font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

#tagpop {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
    }

#noteEnter div{
    padding:5px;
    background:#ddd;
}

.no-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  
  .OneDayNoteContainer{
    overflow:hidden;
  }

  .editable-div:focus {
    outline: none; /* Removes the focus outline */
}